* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #414141, rgb(50, 57, 58), rgb(20, 17, 19), #414141);
    background-size: cover;
    padding: 1rem;
}

.todo-app {
    width: 100%;
    max-width: 80vw;
    background-color: #000;
    margin: 0rem auto 2rem;
    padding: 2rem 3rem 3rem;
    border-radius: 1rem;
}

.todo-app h2 {
    color: #ff0000;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 3em;
}


.row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #212121;
    border-radius: 3em;
    padding-left: 1em;
    margin-bottom: 2.5em;
    box-shadow: 0px 0px 5px rgb(139, 139, 139);
}

input {
    flex: 1;
    border: none;
    color: white;
    outline: none;
    background: transparent;
    padding: 1em;
    font-size: 1em;
    font-weight: 300;
    width: 7em;
    word-break: break-all;
    word-spacing: 1px;
}

button {
    border: none;
    outline: none;
    padding: 1.1em 3em;
    border-radius: 4em;
    background: #0ff;
    color: #000;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 3.2rem 12px 50px;
    user-select: none;
    position: relative;
    margin: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    background-color: rgba(99, 99, 99, 0.1);
    color: rgb(139, 139, 139);
    box-shadow: 0px 0px 2px rgb(139, 139, 139);
    word-break: break-all;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

ul li.checked {
    color: rgb(139, 139, 139);
    background-color: rgb(59, 59, 59);
    text-decoration: line-through;
}

ul li.checked::before {
    background: url(images/checked.png);
    background-position: center;
    background-size: cover;
}

ul li span {
    position: absolute;
    right: -19px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ff0000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: transparent;
    opacity: 0.4;
}

ul li span:hover {
    opacity: 1;
    font-size: 2rem;
    background: #a0a0a0;
}

/* for small devices */

@media (min-width:426px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
    }


    .todo-app {
        margin: 0 auto 2rem auto;
        padding: 1rem;
    }

    .todo-app h2 {
        font-size: 3rem;
        padding: 1rem;
        margin: 0rem;
    }

    .row {
        margin: 1rem;
        margin-bottom: 3rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        padding: 0.8rem;
    }

    button {
        margin: 0;
        padding: 1rem;
    }

    ul li {
        font-size: 15px;
        padding: 0.8rem 3rem;
        position: relative;
        border-radius: 2rem;
    }

    ul li::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
    }

    ul li span {
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 2rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 25px;
    }

    ul li span:hover {
        font-size: 2rem;
        background: none;
    }
}

@media(max-width:425px) {
    * {
        margin: 0;
        padding: 0;
    }


    .todo-app {
        margin: 0 auto 1rem auto;
        padding: 0 0 1rem 0;
    }

    .todo-app h2 {
        font-size: 2rem;
        padding: 1rem;
        margin: 0;
    }

    .row {
        margin: 1rem;
        margin-bottom: 2rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        padding: 0.6rem;
        margin: 0;
        word-break: break-all;
    }

    button {
        margin: 0;
        padding: 0.6rem;
    }

    ul li {
        font-size: 12px;
        padding: 0.6rem 2rem;
        position: relative;
        border-radius: 1rem;
    }

    ul li::before {
        content: '';
        position: absolute;
        height: 18px;
        width: 18px;
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
    }

    ul li span {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }

    ul li span:hover {
        font-size: 1rem;
        background: none;
    }
}